.wc_bg_cover {
    overflow-x: hidden;
    background: url("http://i.imgur.com/3oS66nE.jpg") top center no-repeat fixed #47403a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pad_top {
    margin-top:80px;
}

.main_bg_cover {
    overflow-x: hidden;
    background: url("http://i.imgur.com/G9yOkW3.jpg") top center no-repeat fixed #47403a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.for_test {
    text-align: center;
}

.frames_fade_in {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 3s; /* Safari and Chrome */
       -moz-animation: fadein 3s; /* Firefox */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera */
            animation: fadein 3s;
}

.go-back-button {
    margin-left: 211px;
    margin-top: 1px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​